docker/n8n/templates/workflow/eUpA9wHe6edoDpzY.json
{"createdAt":"2025-03-01T14:19:57.183Z","updatedAt":"2025-03-13T16:01:06.000Z","id":"eUpA9wHe6edoDpzY","name":"Transcription LocalAI (Speech to text)","active":false,"nodes":[{"parameters":{"options":{"allowFileUploads":true,"allowedFilesMimeTypes":"*"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-460,-180],"id":"0058d500-80a8-49f4-8f64-0a850a0e1816","name":"When chat message received","webhookId":"3f18ff1d-8886-4397-8e17-2ed3e341e3b3"},{"parameters":{"jsCode":"let content = '';\n$input.first().json.segments.forEach(segment => {\n  content += segment.text + '\\r\\n';\n});\n\nreturn { text : content }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[160,-60],"id":"47ab41a1-7895-44f7-bd68-77f4b0ecd695","name":"Code"},{"parameters":{"resource":"audio","operation":"transcribe","binaryPropertyName":"=data0","options":{"language":"fr"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-100,-40],"id":"91eb5f35-ce42-4062-afd3-db0a76db2984","name":"OpenAI","credentials":{"openAiApi":{"id":"JTh0kHtna7H5PWyI","name":"LocalAI account"}}},{"parameters":{"formTitle":"File","formFields":{"values":[{"fieldLabel":"data0","fieldType":"file","multipleFiles":false,"requiredField":true}]},"options":{"respondWithOptions":{"values":{"formSubmittedText":"You can close this windows"}}}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-480,40],"id":"9bf15010-c90d-4163-bb0d-361736f2d35d","name":"On form submission","webhookId":"ee1bc0ec-41a6-47e8-a2e6-3ef51eccf6e6"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-460,240],"id":"a1f7fed8-ddd5-431a-981b-dd11b2a588db","name":"When Executed by Another Workflow"}],"connections":{"When chat message received":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Code","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"OpenAI","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c8ad672e-4745-4bac-a86e-59dda5594eec","triggerCount":0,"tags":[]}