docker/n8n/templates/workflow/Luaz1Hy988OvWG34.json
{"createdAt":"2025-03-14T05:43:38.076Z","updatedAt":"2025-03-14T05:55:02.000Z","id":"Luaz1Hy988OvWG34","name":"RAG","active":false,"nodes":[{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"={{ $json.collection }}","mode":"id"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[220,0],"id":"e7390f5f-9e9c-48c3-a900-e60c1eb8ffed","name":"Qdrant Vector Store","credentials":{"qdrantApi":{"id":"fmW9BVw0xSr5PRqP","name":"Qdrant local account"}}},{"parameters":{"model":"=text-embedding-ada-002","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[120,240],"id":"173c1105-8e83-4e4c-9ce9-fabfae266195","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"JTh0kHtna7H5PWyI","name":"LocalAI account"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.content }}","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[300,200],"id":"9e160b4f-a8c9-47bd-a93c-69b69f650bb9","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[300,360],"id":"bd136458-70bf-4329-bcba-a1817ef0e810","name":"Recursive Character Text Splitter"},{"parameters":{"formTitle":"Ajouter du contenu RAG","formFields":{"values":[{"fieldLabel":"content","fieldType":"textarea","placeholder":"Nous contacter par téléphone : 06 00 00 00 00","requiredField":true},{"fieldLabel":"collection","placeholder":"data-sav"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[0,0],"id":"9a91a81f-2f06-4cbf-8d36-618b6c6ad17c","name":"Ajouter des documents a la base de connaissance","webhookId":"72c57539-863b-4fc1-a19f-224826525ad5"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[800,0],"id":"ad84f1be-a5fe-46a4-88fd-e625b876ad1a","name":"When chat message received","webhookId":"21c884d4-8f85-46f6-abf1-63a279095c3f"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chainRetrievalQa","typeVersion":1.4,"position":[1040,0],"id":"78fc6236-ef3a-40a1-9203-c75d2ef9f652","name":"Question and Answer Chain"},{"parameters":{"model":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"gpt-4"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1040,180],"id":"619d86e6-b5e9-4f7b-b101-2dc99f813383","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"JTh0kHtna7H5PWyI","name":"LocalAI account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.retrieverVectorStore","typeVersion":1,"position":[1280,140],"id":"e9f2679b-f368-42ef-a56e-579486b3df29","name":"Vector Store Retriever"},{"parameters":{"qdrantCollection":{"__rl":true,"value":"data-sav","mode":"list","cachedResultName":"data-sav"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[1200,260],"id":"e83a2e79-53fc-4766-89e4-b8f2700b2b24","name":"Qdrant Vector Store1","credentials":{"qdrantApi":{"id":"fmW9BVw0xSr5PRqP","name":"Qdrant local account"}}},{"parameters":{"model":"=text-embedding-ada-002","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1220,400],"id":"f38d2735-0469-4489-b956-e8a22daf9572","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"JTh0kHtna7H5PWyI","name":"LocalAI account"}}}],"connections":{"Embeddings OpenAI":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Ajouter des documents a la base de connaissance":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Question and Answer Chain","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Question and Answer Chain","type":"ai_languageModel","index":0}]]},"Vector Store Retriever":{"ai_retriever":[[{"node":"Question and Answer Chain","type":"ai_retriever","index":0}]]},"Qdrant Vector Store1":{"ai_vectorStore":[[{"node":"Vector Store Retriever","type":"ai_vectorStore","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Qdrant Vector Store1","type":"ai_embedding","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4b94951c-9845-4a12-bef1-08ce76df6955","triggerCount":0,"tags":[]}