docker/n8n/templates/workflow/oxECxlYem88vRuNi.json
{"createdAt":"2025-03-01T14:42:47.809Z","updatedAt":"2025-03-01T15:39:51.000Z","id":"oxECxlYem88vRuNi","name":"Text to Voice LocalAi","active":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-60,20],"id":"ca98a76a-4c6c-4da0-8102-42f34193b930","name":"When chat message received","webhookId":"e895698c-b2b0-4b50-bc3c-60449c0eb413"},{"parameters":{"resource":"audio","model":"=tts-1","input":"={{ $json.chatInput }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[160,20],"id":"45c43578-ac6c-4a90-90a9-2d2ed6bec981","name":"OpenAI","credentials":{"openAiApi":{"id":"JTh0kHtna7H5PWyI","name":"LocalAI account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"chatInput"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-80,200],"id":"e46b1855-9c17-4822-ac61-0a9866d35417","name":"When Executed by Another Workflow"}],"connections":{"When chat message received":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"OpenAI","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e9cdfc5c-71f2-43af-a43e-385673a2af87","triggerCount":0,"tags":[]}